[2021-02-19 17:46] repo-mountie[bot] opened #1 "Lets use common phrasing"
## TL;DR 🏎️

Teams are encouraged to favour modern inclusive phrasing both in their communication as well as in any source checked into their repositories. You'll find a table at the end of this text with preferred phrasing to socialize with your team.

## Words Matter

We're aligning our development community to favour inclusive phrasing for common technical expressions. There is a table below th

[2021-02-19 17:46] repo-mountie[bot] opened #2 "Add missing topics"
# TL;DR

Topics greatly improve the discoverability of repos; please add the short code from the table below to the topics of your repo so that ministries can use GitHub's search to find out what repos belong to them and other visitors can find useful content (and reuse it!).

### Why Topic

In short order we'll add our 800th repo. This large number clearly demonstrates the success of using GitHub

[2021-02-19 17:58] cmahony commented on #2
added flnr and shinyapps as topics

[2021-02-19 17:58] #2 closed

[2021-02-27 18:22] meztez opened #6 "Setup code as package"
R Packages are the best way to share your code with others.

It allows you to define other packages that your package depends on.
It has a standard structure shared across CRAN.
Likewise, it makes it easier to deploy apps and apis.

Learning how to create packages are a great to enable your team to move from non-structured scripting to a more robust development pipelines.

[2021-02-27 18:31] meztez opened #7 "Vector tiles creation pipeline"
Using a shapefile or geojson as an input, define a collection of function to do the following task.

 - [x] Provision a virtual machine with appropriate resources. (DigitalOcean)
 - [x] Install system dependencies and configure server
 - [x] Create tiles (https://openmaptiles.org/docs/)
 - [x] Start tiles server and server tiles
 - [x] Put nginx in front of it with a large cache and appropriate co

[2021-02-27 18:41] meztez opened #8 "Shiny app : Map tab"
The main interaction with the tool

Leaflet
- [x] Base layers (Satellite, Hillshade, OpenStreetMap)
- [x] Zones and Subzones Variants custom layers
- [x] Crop water from geometries
- [x] OSM Geocoder, Control, Measurement
- Added interactions
  - onClick
    - [x] Add points to selected points table
    - [x] Show feature information + BCG in a popop
    - [x] + elevation
    - [x] Add marker to m

[2021-02-27 18:48] meztez opened #9 "Shiny app : BGC Futures"
- [x] Simple generic plotly widget
 - [x] Match color palette
 - [x] Label and style

[2021-02-27 18:52] meztez opened #10 "Shiny app : Suitability"
- [x] Shiny render function
- [x] Style
- [x] Select an easy method to produce site series reprensation
  - [x] Evaluate plotly
  - [x] Custom svg factory
  - [ ] ~~Really liked @aammd fail risk plot, maybe?~~

[2021-02-27 18:53] meztez opened #11 "Shiny app : Silviculture"
- [x] Shiny render function
- [x] Style
- [x] Prepare silviculture dataset

[2021-02-27 19:25] meztez opened #12 "Shiny app : Model configuration"
- [x] Gather information about the model
 - [x] Display with a real donuts? Tims? Dunkin?
 - [x] Style

[2021-02-27 19:26] meztez opened #13 "Performance"
Track performance problem, provide feedback.

[2021-02-27 21:44] meztez commented on #6
Completed

[2021-02-27 21:44] #6 closed

[2021-03-07 18:02] meztez opened #15 "Digital elevation model"
Hi

Do you have an internal source or do you have to pay to access it?

Only link I have is this one https://www2.gov.bc.ca/gov/content/data/geographic-data-services/topographic-data/elevation/digital-elevation-model

Thanks

I will leave elevation information alone for now.

@whmacken @cmahony

[2021-03-07 18:02] #7 closed

[2021-03-08 00:37] cmahony commented on #15
@meztez, the best approach is to use the elevation of the location (400m hex grid point) in the postgres database that the user click draws data from. I'm on the road today so i can't be more specific about where the elevation field is in the database but hopefully it is easy to find.

[2021-03-08 00:58] meztez commented on #15
I will use bcmaps::cded() for the moment. The provided Postgis database does not seem production level. We should schedule a followup meeting this week, I will repost the current app to shinyapps.io and post the link here.

[2021-03-08 02:13] cmahony commented on #15
ok sounds good. i'll try to get the database architect, @kdaust , on for our meeting. we have a parallel contract that is setting up the database on DigitalOcean; could be up there even in the next few days. I'll check in with that team as well.

[2021-03-08 02:43] cmahony opened #16 "Running the app off of the DigitalOcean server"
@psolymos is putting the CCISS postgres database onto DigitalOcean as part of a project to trial cloud computing processes for government data scientists. @meztez is creating a shiny app (this repo) that pulls from this database. @kdaust and @whmacken set up the database. it would be good to establish when and how to start running the app off of the digitalocean server. also, @meztez is creating v

[2021-03-08 06:37] kdaust commented on #15
Hi All - sorry for the delay, midterm season here. @meztez the postgres database doesn't actually contain the elevation data because I built it just with the cciss output in mind, which we don't need the elevation for since the database stores the modelled results. The original data I used to extract from ClimateBC of course has the elevation, but isn't in that database. And full disclosure here,

[2021-03-08 07:02] meztez commented on #15
@kdaust I don't think the setup is the problem. Maybe the network. Would be happy to help after I'm done with this assignment. I am gonna go without elevation for the moment.

[2021-03-08 17:20] cmahony commented on #15
@meztez unless it is really easy let's put the elevation from dem on the back burner. it isn't essential for building the outputs; just there for user context. if you've already done it that's fine because we will need it eventually.

[2021-03-08 17:34] meztez commented on #15
@cmahony @kdaust @whmacken

http://meztez.com/shiny/cciss/ (retry in 30 minutes if you get a 404, I just changed the DNS)

Tiles are hosted separately.

I've set up a VM with postgis+shiny+rstudio. Currently, using in memory object for bec info, will test tonight if having postgis on the same machine improves performances.

You are welcome to test out the interface.

[2021-03-08 23:36] psolymos commented on #16
Once the data is up we can give the access details to see how it works. As for vector tiles: how large files are we talking about?

[2021-03-09 00:35] cmahony commented on #16
@meztez what is the total file size of the vector tiles?

[2021-03-09 01:58] meztez commented on #16
[code]

[2021-03-09 02:02] meztez commented on #16
Will have to loadtest it but it works fine on
![image](https://user-images.githubusercontent.com/31039074/110407237-84951080-8051-11eb-87fa-70517de81cdb.png)

[2021-03-09 02:41] cmahony commented on #15
@meztez The interface is going great. really good performance on the map. let me know when you are at a stage where want feedback on the map elements and interface functionality etc.

[2021-03-09 03:16] meztez commented on #15
that would be tomorrow, im rewriting the backend to hook up into the local db

[2021-03-09 22:04] cmahony commented on #16
@meztez the app is on digitalocean and @psolymos is running some tests on it. should be available to you soon.

[2021-03-10 05:22] #9 closed

[2021-03-14 01:33] #10 closed

[2021-03-14 03:07] meztez commented on #11
@cmahony Could you me point in the direction of the information you want to appear in the silviculture tab. I could not find matching information in the CSVs nor in the database. I was not able to replicate the provided screenshot. Furthermore, I have located an Excel spreadsheet on the BC Gov website, but I would prefer not guessing.

[2021-03-14 06:11] cmahony commented on #11
@meztez this is one that we will need help from @whmacken on. he has been on vacation but seems to be back at work this week. until then, it is fine to put this on the back burner.

[2021-03-15 23:37] whmacken commented on #11
I pushed the stocking stand information tables to the data-raw/data_table/StockingStds folder.
I will need to send you a Forest Region spatial file to use. The stocking standards are by Region/BGC and knowing which Region the points are placed in is require to extract the correct stocking standard information.
StockStands is the main table. It links to the other two Stocking tables through the num

[2021-03-16 00:04] whmacken commented on #8
This works great. Two things might help in the map.
Add city dots and main highways to the 'always on top' map base information. Enough to allow users to largely place themselves in the province when zooming around.
I like the hover emphasis for the subzone/variant. But the user will want to see the base layers underneath when selecting sites in many cases. So the emphasis should either be the out

[2021-03-16 00:07] whmacken opened #18 "Species Feasibility Tab"
Firstly a rename of the species suitability tab. We are using Feasibility for our modelling work which accounts for climate/site factors only. The term Suitability is used for the Chief Foresters ratings and are focused on ratings for timber production.
- [x] Add in all colours for legend feasibility ratings
- [x] Bold tree species code part of Species label
- [x] Rename "predicted suitability" to

[2021-03-16 01:30] meztez commented on #18
@whmacken Thanks a lot for the feedback

What do you mean all colours? How many colours do you expect.
![image](https://user-images.githubusercontent.com/31039074/111241942-88d2a800-85d4-11eb-9d74-b43a8ea124c0.png)

Do you also mean all known BC species should appear in the table even if they are not in the site series? Or just the time period.

Just to make sure, "all" would not include species t

[2021-03-16 01:35] meztez commented on #8
@whmacken

There are three labels layer available as I was not sure which one you would prefer, I will set the default to Mapbox labels which has road information + park.

There is a mini-map in the bottom right corner and geolocation finder when you click the magnifying glass top left corner.

Instead of increasing opacity on mouseover, I will decrease it.

[2021-03-16 15:48] whmacken commented on #18
I am only seeing this
![image](https://user-images.githubusercontent.com/34073318/111338746-6a9c9480-8634-11eb-8f8e-f4229bfd9df1.png)
.

[2021-03-16 15:51] whmacken commented on #18
For the "all" option. It would be species that show suitability in any time period. Only species where there is no suitability in any model or time period would be excluded.

[2021-03-16 16:32] meztez commented on #18
I will make viewing test across browsers. Great input.

[2021-03-17 04:32] #16 closed

[2021-03-17 04:45] cmahony commented on #15
@meztez, Will and i discussed the digital elevation model and we would like to have this functionality. When the user clicks a point or enters lat and long manually, the app should obtain an elevation for that point from a digital elevation model. I don't know the best source for the DEM; perhaps bcmaps::cded() as you indicated. anything less than 100m dem resolution would be adequate.

[2021-03-17 04:55] cmahony commented on #8
@meztez i like the approach you have taken of full transparency on mouseover.

the geolocation finder is great but it puts a blue circle on the searched location that i can't get to go away. could you remove the blue circle?

[2021-03-17 05:01] cmahony opened #20 "Add current period to BGC Futures Tab"
@meztez Just like in the Feasibility tab, we need results for the 1991-2019 "current period" in the BGC futures tab.

[2021-03-17 05:13] cmahony opened #21 "does bc gov have a mapbox API key?"
@whmacken question from @meztez : does bc gov have a mapbox API key? i've sent out inquiries but haven't heard back yet.

[2021-03-17 12:32] #20 closed

[2021-03-17 17:05] cmahony commented on #20
sorry... late night review not paying off...

[2021-03-18 04:42] meztez commented on #15
I've added BC cded rasters to the database, the recipe is here : https://github.com/bcgov/CCISS_ShinyApp/blob/main/data-raw/scripts/bc_dem_to_postgis.R

The app is dependent on this table to get elevation. It takes about 8ms to get information. Always amazed what can be done with postgis.

![elev_demo](https://user-images.githubusercontent.com/31039074/111574372-bfe6bc00-8782-11eb-8d7d-64d5585b921

[2021-03-18 04:44] meztez commented on #8
Blue circle now goes away on search tool collapse. Unless, you have something else, I would be done with the map tab.

[2021-03-18 04:46] meztez commented on #13
It won't get faster than this on the database side, other optimization do not seem worth it.

[2021-03-18 04:46] #13 closed

[2021-03-18 16:00] cmahony commented on #8
@meztez the map tab looks great to me. thanks!
@whmacken can you close this issue if you don't have further change requests to the map tab? i'm thinking we can do tweaks  (like the legend) ourselves at a later date.

[2021-03-18 16:26] whmacken commented on #8
@meztez Yes the map interface is excellent.
2 issues with the other ways of adding points
1. We need an expanded error capture in the upload a CSV. I mistakenly tried to add a file where all locations were  positive longitude so none of the points fell within BC.  This causes the app bomb and asks for a reload. I then used a file with points both inside and outside BC and your code successfully ma

[2021-03-18 16:37] whmacken commented on #8
@meztez @cmahony The Generate button. The results of the analysis are done on the fly so we don't really need this. But I think we thought that users might look to a button to assure themselves something has happened.
If this is the purpose then maybe a bigger coloured button below all the location/model information labelled  "Refresh Results" might be the ticket.
![image](https://user-images.gith

[2021-03-18 16:43] meztez commented on #8
On the fly results are relatively costly as they trigger each time a point change. At the moment it takes about 1 seconds to redo the analysis. See comment here on why I decided to use a generate button.
https://github.com/bcgov/CCISS_ShinyApp/blob/d9f44e54fd7354caf63a630f3a28bb641c4a3975/app/server/generate.R#L2

I'll check out the reload-bomb and see if can do something about the edit points thi

[2021-03-18 16:44] whmacken opened #23 "BGC futures Tab"
@meztez Use the same 5 time periods as was updated in the Feasibility Tab

[2021-03-18 16:51] whmacken commented on #8
OK. I think it probably feels more 'normal' for users to hit a button to report once they are finished with points.
I do think making it more prominent and central at the bottom of the report options is probably a good idea. But we're getting into the details at this point - I think this map interface is working very well for our purposes.

[2021-03-18 17:46] meztez commented on #11
@whmacken

Is it in the database?

[2021-03-18 20:23] whmacken commented on #11
[ForestRegionBoundaries.zip](https://github.com/bcgov/CCISS_ShinyApp/files/6166989/ForestRegionBoundaries.zip)

[2021-03-18 23:51] meztez commented on #23
Added historic period to BGC futures to match period in Feasibility Tab.

https://github.com/bcgov/CCISS_ShinyApp/blob/55edefb5db9899649cba6afaba5320efc6a54af3/app/server/common.R#L55

Deployed

[2021-03-18 23:51] #23 closed

[2021-03-18 23:52] #15 closed

[2021-03-19 00:51] meztez commented on #8
Add points is now a modal window
Better upload file validation and messaging
Bomb was due to elevation raster having overlapping extent, using an aggregation function (max) to return a single elevation per point
Big blue generate/refresh button

[2021-03-19 00:52] meztez commented on #8
New issue should be filed separately

[2021-03-19 00:52] #8 closed

[2021-03-19 21:27] cmahony opened #24 "export tab"
@meztez can you write out your list of actions for the report export? when i try to use it, i get "failed, server problem" on the download, so i assume it is still a work in progress.

[2021-03-19 22:02] meztez opened #25 "Shiny app : Export report"
Task breakdown

Export backend
 - [x] Export UI
 - [x] Site Series Filter
 - [x] Model Settings/Data Versions

Report Rmarkdown
 - [x] Output a map of submitted locations: an appropriately scaled bounded box of a BGC + Openstreetmap showing the user-selected location(s).
 - [x] Bar chart, feasibility report, and stocking standards table as specified in Task 2 above.
 - [x] Title block including BC

[2021-03-19 22:02] meztez commented on #24
Closing in favor of #25

[2021-03-19 22:02] #24 closed

[2021-03-19 22:04] meztez commented on #11
@cmahony  I'm working on this tab now

[2021-03-19 22:45] meztez commented on #11
@whmacken Were you expecting duplicated rows using Region, ZoneSubzone, SS_NoSpace, Species, Standard combination in stocking standards?

![image](https://user-images.githubusercontent.com/31039074/111849083-297ddc00-88e3-11eb-996f-34c8efdd8c74.png)

[2021-03-19 22:49] whmacken commented on #11
I pushed an updated table where all the Region values should match the 6 regions in the shape file

[2021-03-19 23:01] meztez commented on #11
I have similar duplicates in stocking height.
![image](https://user-images.githubusercontent.com/31039074/111849971-53380280-88e5-11eb-8537-bdb162c5bf7a.png)

For each stocking tables and crosswalk, do you expect a unique key? If not, what criteria do you want to base the merge on?

Thanks

[2021-03-19 23:02] whmacken commented on #11
I will look at the duplicates. These are errors I need to fix. Will push shortly

[2021-03-19 23:07] meztez commented on #11
I will use the first match for the time being, enjoy your weekend.

[2021-03-19 23:26] whmacken commented on #11
Should be clean now.

[2021-03-19 23:45] meztez commented on #11
You are a gem @whmacken. Thanks a lot.

[2021-03-20 00:40] meztez commented on #11
I clean up the git history, you might want to use a git rebase before push changes to avoid polluting your commits with already commited code. Thanks

[2021-03-21 13:41] #18 closed

[2021-03-21 13:42] meztez commented on #18
All items now in main

[2021-03-22 11:48] #11 closed

[2021-03-22 15:15] whmacken opened #26 "Silviculture Tab: Limit information to those species considered feasible"
Add a toggle that allows 'Feasible Species' versus 'All Species' for the 4 Silvics  information tabs.
Default should be to Show Feasible Species

[2021-03-22 16:45] #26 closed

[2021-03-22 17:16] whmacken opened #27 "Feasibility Tab: Switch Reports in Tabs"
These are looking v good Bruno.
The report you have in the Detail should actually be the Summary Tab and be the default report.
What you have in the Summary tab currently should get switched to be in the Detail tab.

[2021-03-22 17:35] whmacken commented on #25
I've added a few more line items to your Export Task.
Information like this should appear both on the report side bar in the app as well as in the output report.
![image](https://user-images.githubusercontent.com/34073318/112033072-47715980-8afa-11eb-8829-69842f61e0da.png)

[2021-03-22 17:55] whmacken commented on #25
I've pushed an information table to the repo in the data-raw folder. Also attached here.
Also new Issue for About Tab
[CCISS_DataTable_Versions.zip](https://github.com/bcgov/CCISS_ShinyApp/files/6184333/CCISS_DataTable_Versions.zip)

[2021-03-22 18:00] whmacken opened #28 "About Tab: Add in 'Data Table Versions'"
Add in sub menu page showing the data in the CCISS_DataTable_Versions .csv.
"Current versions of Information Tables, Maps, and Models used in this App"

[2021-03-22 20:37] meztez commented on #28
@whmacken Would you mind rebasing your branch before committing new stuff? You can see it create conflicts when trying to push. Maybe you could do:

[code]
Do your changes
[code]

And do a pull request.

I will the clean history for now, but it takes more time.

Thanks

[2021-03-22 21:14] #27 closed

[2021-03-23 00:35] #28 closed

[2021-03-23 00:36] #12 closed

[2021-03-23 00:39] meztez commented on #12
@whmacken  The donut

![newplot](https://user-images.githubusercontent.com/31039074/112075335-ae206280-8b4e-11eb-95f5-190e8fd67d61.png)

[2021-03-24 04:42] #25 closed

[2021-03-24 13:46] meztez commented on #21
Once you have set up your account, here are the styles this app is using. You can reuse them on a bcgov owned account.

You can copy the mapbox styles using these links
https://api.mapbox.com/styles/v1/meztez/ckm9qzg1u2grj17n1qo25bt1r.html?fresh=true&title=copy&access_token=pk.eyJ1IjoibWV6dGV6IiwiYSI6ImNrbTlqcGRsbzFpcjUycHJ0aXhnNWVjczMifQ.b-5f6EiF8dtdzATV1xyOnQ
https://api.mapbox.com/styles/v1/mez

[2021-03-24 20:39] whmacken opened #29 "Report Tab"
Good start to this. Some ordering and reformatting is required. Some output options added.

- [x] Error: Feasible Only species should include species that are **either** suitable in the Reference Guide **or** predicted to the Feasible in the analysis. Right now I think they have to meet both criteria. If the species is not in the Ref guide but is projected as feasible then an 'X' should be placed

[2021-03-24 22:35] meztez commented on #29
Could you provide an example where the error occurs, the current filter between feasible only and all is based on the projected feasibility. https://github.com/bcgov/CCISS_ShinyApp/blob/13d164ff72cdfea1a2b7a299cb6106bf1a2a91f4/app/server/feasibility.R#L48.
1,2,3 are considered feasible. "All" means it is at least feasible in any period. So, to be clear, could you state your expectation for the fol

[2021-03-25 00:52] whmacken commented on #29
For the "Feasible Only" (and maybe the term is misleading). If the species has a rating in either the Chief forester or Projected Feasible - include it.  In your first table, row one would appear in both view options; the second line would only appear in All.

[2021-03-25 00:54] whmacken commented on #29
I'm unclear on your stocking standards question. Are the twp rows both the same species?

[2021-03-25 02:13] whmacken commented on #29
I will send a layout for the PDF on the morrow.

[2021-03-25 14:36] meztez commented on #29
Yes, the same specie, I,m wondering if you want the same specie to both appear in primary and tiertiary because CFRS says 1 but proj feasibility says 3.

[2021-03-25 15:07] whmacken commented on #29
The species should be in the primary row for CFR and then in the tertiary row for the Climate Change column. This is an example where the model is suggesting that our current CFR guidance is too liberal and the species should probably be planted less than it is currently

[2021-03-25 15:29] meztez commented on #29
I'm dump, sorry, this is what it is already doing... I guess I was confused when you stated there was an error.

[2021-03-25 15:38] whmacken commented on #29
![image](https://user-images.githubusercontent.com/34073318/112499835-15a00300-8d45-11eb-8346-4864791b85fc.png)
In this example reprot the Summary of Results is showing all the species that are either in the CFR or are projected to be suitable.
But the Feasible Species section only shows two species.

[2021-03-25 15:39] whmacken commented on #29
![image](https://user-images.githubusercontent.com/34073318/112500260-762f4000-8d45-11eb-9c21-df67a99c6ad4.png)
Similar issue in the Stocking Standards all the correct CRF species are listed but not the projected Feasible species in the Climate Change column

[2021-03-25 15:41] whmacken commented on #29
I'm using FireFox again. That might be the issue. I just ran a report in Chrome and it looked correct....

[2021-03-25 15:43] whmacken opened #30 "PDF Report"
Our ultimate goal with the reports is to have a formatted report that a forester would submit with a reforestation plan.
So the PDF report would be more structured than the HTML report.
For this any site information should be put on the first page normal letter size PDF (8.5x11)
Then all information for a single site series put on the next page, with every site series getting its own page.
If ther

[2021-03-25 15:46] meztez commented on #29
That's weird. I'll look into it.

[2021-03-25 15:47] meztez commented on #29
Yeah that was on purpose, will switch the filter

[2021-03-25 15:52] whmacken commented on #30
![PDF report site info page 1 layout](https://user-images.githubusercontent.com/34073318/112502601-72042200-8d47-11eb-9ded-2e91d5d21d66.jpg)
![PDF report site series pages layout](https://user-images.githubusercontent.com/34073318/112502626-74667c00-8d47-11eb-995d-cb06234200aa.jpg)

[2021-03-25 15:53] whmacken commented on #30
Excuse the chick scratch writing. A sketch of the PDF report layout.

[2021-03-29 04:26] meztez commented on #29
It was not Firefox, it was to a filter that only processed Species from Climate Change that were in the standard.

[2021-03-29 04:34] meztez commented on #29
I was able to shave off another 500ms from the "generate results" process. Yay

[2021-03-30 04:34] meztez commented on #29
test locations html report attached per requested spec

[test_locations.zip](https://github.com/bcgov/CCISS_ShinyApp/files/6226166/test_locations.zip)

[2021-03-30 04:34] #29 closed

[2021-03-30 04:35] meztez commented on #30
sample PDF report attached per requested spec, also available on live deployment

[test_locations.pdf](https://github.com/bcgov/CCISS_ShinyApp/files/6226170/test_locations.pdf)

[2021-03-30 06:27] meztez opened #31 "migrate to shinyapps.io BCGOV account"
The app has been migrated to a temporary shinyapps.io account

at https://neoxone.shinyapps.io/BCGOV_CCISS/

It should give you an idea of what it will look like when you deploy there.

[2021-03-30 15:57] cmahony commented on #30
@meztez this looks excellent. There one modification required.
1. the reports are only showing the "feasible only" species. the reports should default to showing "all species". there should be a UI toggle to allow the user to control whether to show "feasible only" or "all", like in the Feasibility tab.

[2021-03-30 16:14] meztez commented on #30
Done

[2021-03-30 16:14] #30 closed

[2021-04-06 14:00] whmacken commented on #31
The PDF report function does not seem to be functioning. Colin said it successfully ran for him last week but not now.

[2021-04-06 14:11] meztez commented on #31
Confirmed

[code]

[2021-04-06 18:22] meztez commented on #31
Seems to be an issue with shinyapps.io as the code as is works fine outside it.

I have redeployed on a new droplet in the project DO while the shinyapps.io community investigate the issue.

http://178.128.230.70/shiny/cciss

[2021-04-07 01:19] psolymos opened #32 "Load testing Shiny app with PostgreSQL"
Hi, as discussed with @whmacken and @cmahony it would be interesting to load test the shiny app to be aware of any bottlenecks either for Shiny or for the PostgreSQL connection.

I'd suggest trying the {shinyloadtest} package: https://rstudio.github.io/shinyloadtest/

Also monitor the droplet that has the database on.

The PostgreSQL instance also has modules to allow `pg_stat_statements` installe

[2021-04-23 15:11] whmacken opened #33 "install of bccciss package failing"
Installing package into ‘C:/Users/whmacken/Documents/R/win-library/4.0’
(as ‘lib’ is unspecified)
* installing *source* package 'bccciss' ...
** using staged installation
** libs

*** arch - i386
"C:/rtools40/mingw32/bin/"g++ -std=gnu++11  -I"C:/PROGRA~1/R/R-40~1.3/include" -DNDEBUG  -I'C:/Users/whmacken/Documents/R/win-library/4.0/Rcpp/include'        -O2 -Wall  -mfpmath=sse -msse2 -mstackrealign

[2021-04-23 15:16] meztez commented on #33
Your R install is not up tp date with CRAN compiled packages for windows.

You can either:
- Install R 4.0.5 to match windows binaries version
- Change your options to prevent warning from converting to error `options(warn = 0)` <- my suggestion
- Install `data.table` from 4.0.4 binaries (and possibly all other dependencies)

[2021-04-23 15:29] whmacken commented on #33
Thank Bruno. An all package update seems to have resolved the loading of bccciss though the error message around data.table is still displayed.

+   drv = RPostgres::Postgres(),
+   dbname = Sys.getenv("BCGOV_DB"),
+   host = Sys.getenv("BCGOV_HOST"),
+   port = 5432,
+   user = Sys.getenv("BCGOV_USR"),
+   password = Sys.getenv("BCGOV_PWD")
+ )
Error: fe_sendauth: no password supplied
Now, I'm no

[2021-04-23 15:52] meztez commented on #33
Check your email or spam for something from @boostao.ca. If you do not get it in the next 5 minutes. I'll try another alternative.

[2021-04-23 15:55] whmacken commented on #33
Updated R and removed error messages. Pasted DO info into .Renviron and my local version now runs cleanly.
Thanks very much

[2021-04-23 15:55] #33 closed

[2021-04-27 16:08] whmacken opened #34 "Updating bccciss package when data tables are updated"
User ignorance to be corrected. I am updating a raw data table (feasibility) and then running the create_package_data.R script to update to the package .rda format successfully. This new data is not used when I then rerun the index.rmd as a local instance.
Not sure what I'm needing to do to implement the changes- am I needing to regenerate the bccciss package? If so I'm not sure if I actually know

[2021-04-27 17:04] meztez commented on #34
Yes the package has to be updated. You can do this from RStudio.

Or commit your new rda files and reinstall from github.

![image](https://user-images.githubusercontent.com/31039074/116282664-07387300-a759-11eb-8428-2a8e56c429d6.png)

[2021-04-27 17:13] whmacken commented on #34
Thanks. Rebuild works fine though I have to manually remove the package from my library to allow it to be rebuild

[2021-04-27 17:13] #34 closed

[2021-04-27 17:59] meztez commented on #34
Just a simple R restart on windows. (ctrl + shift + F10 in RStudio)

The package has compiled code. When the library is loaded on windows, the library C code is locked by the R process and can not be replaced.

[2021-04-27 19:07] whmacken opened #35 "Shiny layout script - where is it?"
Another user error problem. I'm used to a long scripts for Shiny where everything is run from one big app.r, which is probably a terrible way to do it. But in the CCISS app the index.rmd is simply working the user UI and does not have the web layout - so where are the layout parameters for the app? I was going to change some of the tab labels etc but its not clear which script that resides in.

[2021-04-27 20:16] meztez commented on #35
index.rmd? The layout is generated from flexdashboard. Do you have a specific label in mind?

[2021-04-27 20:18] meztez commented on #35
An example tabset:
https://github.com/bcgov/CCISS_ShinyApp/blob/b03401351b0f26152847e483dfba7946cea2f575/app/index.Rmd#L127

https://rmarkdown.rstudio.com/flexdashboard/layouts.html#tabset_column

[2021-04-27 20:26] whmacken commented on #35
I think I see it now. The flexdashboard knows how to read/intpret the header from the format in the index.rmd.
I'll read up on that tool.

FEASIBILITY
=====================================

Inputs {.sidebar data-width=230}
-------------------------------------

###### Filters

[2021-04-28 16:50] #35 closed

[2021-04-28 17:41] whmacken opened #36 "Where future BGC = historic BGC do not apply edatopic overlap but simple retain selected site series"
- [ ] Where future BGC = historic BGC do not apply overlap but simple retain selected site series
I believe that this was changed (or was on the list to be) but it is not being applied currently in the new shiny app tool.

- [ ] The linkage between "special" and normal edatopic site series needs to be updated
If a current site series is a normal ecosystem and future ecosystems that overlaps the sp

[2021-04-28 17:48] whmacken opened #37 "BGC futures report tab - add site series futures to output"
Somewhere we need to show the site series futures in addition to the BGC futures. I think simply adding the site series as labels to the BGC bars would be a good start. But open to other options for display of both BGC and Site series futures

[2021-04-28 17:50] whmacken opened #38 "Add colour theme legend to silviculture info - Chief Forester Reference Guide"
We colour  the species feasibility trend between CFRG and CCISS. we need a key to what those colours are

[2021-04-30 01:05] repo-mountie[bot] opened #39 "Add project lifecycle badge"
## No Project Lifecycle Badge found in your readme!
Hello! I scanned your readme and could not find a project lifecycle badge. A project lifecycle badge will provide contributors to your project as well as other stakeholders (platform services, executive) insight into the lifecycle of your repository.
## What is a Project Lifecycle Badge?
It is a simple image that neatly describes your project's s

[2021-04-30 14:27] whmacken opened #40 "Migrate CCISS tool to government shiny"
The CCISS tool needs to move to a more permanent location.
This could either be on shiny.io on the professional site of MoE or we create a BEC shiny server in Digital Ocean. For some discussion.

[2021-05-12 17:46] kdaust opened #41 "Internal BCGov network does not connect to tileserver"
@meztez wondering if you have any suggestions - when I open the app connected to bcgov network, everything works fine, and the reports all generate, but the BGC map doesn't show up (all you see is the base mapbox map). My guess is that some security measure in the government network is blocking the app from connecting to the tileserver. Do you have any ideas for getting around this (I'm fairly ign

[2021-05-12 18:05] meztez commented on #41
You can host the tileserver on a domain with a valid https certificate or buy a domain and use a valid certificate. It is probably blocked by your internet firewall. You can inspect the the tileserver request with the browser developer tools (Network) to validate the type of error you are getting.

Using my work internet, it will not even let me open a websocket connection to the app.

[2021-05-12 18:07] meztez commented on #41
In my org, we have a service desk that can issue ssl certificate with a domain so you can make your app compliant the your network security. Unfortunately, I know next to nothing about BC Gov internal network.

[2021-05-12 18:21] kdaust commented on #41
Ok I think that makes sense. Thanks!

[2021-05-12 23:12] kdaust opened #42 "Login info for shiny-server droplet"
@meztez sorry for the questions - I'm trying to access the shiny-server droplet (i.e. 178.128.230.70) to change the database to a new droplet, and I'm unable to log in via ssh (it works fine for the other droplets in that team). I'm guessing it's because you created the droplet before I had ssh keys uploaded. Do you have the login info for it so I can access that way, or could you add my ssh key?

[2021-05-13 13:34] meztez commented on #42
There is an authorized key on the droplet with your credentials.
ssh-rsa AAAAB3NzaC1y......wcFdeA7sG+/J4o3 kirid@MSI

Send me another key to info@boostao.ca if this is not the one you want.

[2021-05-13 16:38] kdaust commented on #42
Oh excellent, sorry I forgot I'd set that one up. Thanks!

[2021-05-13 16:38] #42 closed

[2021-05-17 02:39] meztez commented on #42
Maybe you already know.

The postgres service on the new server is unable to start.

[code]

Let me know if I'm overreaching. I quite like seeing the app working.

[2021-05-17 05:30] kdaust commented on #42
Yes that's absolutely my fault; I had some issues moving the database mostly because I'm not super familiar with digital ocean especially the volumes. Working on fixing it now. Thanks so much for the note though, and absolutely not overreaching.

[2021-05-17 16:23] kdaust commented on #42
Back up and working well :)

[2021-05-17 17:09] #40 closed

[2021-05-17 17:18] kdaust opened #43 "Best way to push changes to shiny server"
Hi @meztez - just a quick question: what would you recommend as the best way to update the app on the shiny-server droplet? Is it best to say rsync or cp files over, or should I set it up with git? Many thanks!

[2021-05-17 17:25] meztez commented on #43
When developping, I used that :
https://github.com/bcgov/CCISS_ShinyApp/blob/d538679522bc111eeafb181dc43d907a2f3e1f8e/data-raw/scripts/bigshinygisstudio.R#L108

For digitalocean, it could be turned into a function like we do for the plumberDeploy package.

You could also use github actions linked to this repo and use repo secrets to set up SSH keys.

The reason I'm not too eager on rsync is that y

[2021-05-17 19:44] kdaust commented on #43
Thank you, that's very helpful!

[2021-05-17 19:44] #43 closed

[2021-05-17 19:53] kdaust opened #44 "Dynamically changing vector tile styles"
@meztez again, apologies for all the questions, and if this seems to far outside the scope of the cciss tool no worries. I've been working on a species feasibility app which essentially colours a map of subzones to show suitability of a selected species. Previously I was using the Mapbox library in R, but am currently adapting it to use your leaflet rendering of the vector tiles because it's much

[2021-05-17 20:35] meztez commented on #44
Check the code that does the opacity? You will need to redraw the map to apply a new style. I would have picked mapbox if it was still open source.

Your step should be to have a variable that holds your color scheme per zone in R and JavaScript. Use shiny observer event to sync your values. Redraw the map once you have new values.

I'm skipping a lot of intermediate steps.

There might be some al

[2021-05-17 20:37] meztez commented on #44
Maybe add remove layers for each new style?

[2021-05-18 19:55] whmacken opened #45 "Mapbox label resizing in tiles"
The location labels in the Mapbox base layer resize too small each spatial scale.
It looks like the text sizing from the next scale larger is actually something that can be read since the labels when zooming good initially look good but then resize to like 2pt font

[2021-05-19 22:21] whmacken opened #46 "Edatopic Table review"
- [ ] Make sure all site series and site series phases are included (compare to BECdb)
- [ ] Review site series for extra-edatopic factors and harmonize coding
         - [ ] LMH26 - Prince Rupert
         - [ ] Coast
         - [ ] PG
         - [ ] Cariboo
         - [ ] Kamloops
         - [ ] Nelson

[2021-05-20 21:01] #31 closed

[2021-05-20 21:02] #41 closed

[2021-05-20 21:02] #32 closed

[2021-05-20 22:21] whmacken opened #47 "Update model and projections to BGCv12 and ClimateBC7.01"
- [ ] Download new climate7.1 data for BC 800m hexgrid points for 1991-2019 and future periods for all models and rcp scenarios
- [ ] Predict future BGC for all points using new WNA_BGCv12 model
- [ ] Update BGC projection on postgres Digital Ocean database

[2021-05-20 22:57] whmacken opened #48 "Update scripts and shiny to reflect 20-year future periods and 3 rcp scenarios"

[2021-05-20 22:58] whmacken opened #49 "Align footnotes in future projections"

[2021-05-25 15:22] #48 closed

[2021-05-25 15:30] #47 closed

[2021-05-25 15:30] #49 closed

[2021-05-25 15:34] #37 closed

[2021-05-25 15:38] #46 closed

[2021-06-02 18:04] kdaust commented on #44
Thanks for you suggestions @meztez! I think I've got it figured out. I've actually been able to create a javascript method that takes the new style as parameters and then uses the setFeatureStyle in a loop to update the styles.

[2021-06-02 18:04] #44 closed

[2021-06-02 19:06] meztez commented on #44
you rock @kdaust

[2021-06-02 22:49] #1 closed

[2021-06-08 21:01] kdaust opened #50 "Multiple layers on tileserver"
Hi @meztez - hope you're well! I'm wanting to add a new layer to the tileserver - basically linework for district boundaries. Do you know what the proper way to do that is? As far as I can tell, the easiest option is to upload all the layers at once, and then when it creates the tiles.mbtiles, that will have both layers and I can adjust the javascript function to select one or the other. However,

[2021-06-08 22:20] kdaust commented on #50
What I've ended up doing is just editing the config file to create separate data sources for each .mbtiles file, and then I can specify the layer by adjusting the server URL in shiny. Seems to work ok, but if you have a better way of doing it I'd love to know!

[2021-06-09 12:39] meztez commented on #50
That's how I would do it. Separate mbtiles for each source since zoom level availability and other parameter can be different per tile layer.

[2021-06-09 17:06] kdaust commented on #50
Awesome, thanks so much!

[2021-06-09 17:06] #50 closed

[2021-06-22 21:32] meztez opened #51 "public pwd"
https://github.com/bcgov/CCISS_ShinyApp/blob/a53817a98a7119f21110351fb19d8e9e46b3a695/app/.Renviron#L2

.Renviron file should not be committed to the repo unless you want credentials available in the wild.

Maybe add it to .gitignore?

[2021-07-22 22:54] kdaust opened #52 "Plotly vs ggplot?"
Hi @meztez! Hope you're well. I'm currently adding some new functionality (including some new plots) to the app, and was wondering about the benefits of using an interactive javascript library like ploty (as you did for the BGC futures plot) vs a static renderPlot output (my plots are currently ggplot2). Assuming they don't need to have any interactivity, is there any benefit to converting them to

[2021-07-22 23:05] cmahony commented on #52
@kdaust here is my unsolicited input: I'm generally moving over to plotly as i do think the interactive functionality adds quite a bit to the user experience. see the "choose models" tab in my [cmip6-bc](https://bcgov-env.shinyapps.io/cmip6-BC/) app. Much better than the static version in my [ccsummary ](https://bcgov-env.shinyapps.io/ccsummary-Kamloops/) apps.

[2021-07-22 23:11] kdaust commented on #52
Thanks @cmahony! I agree with you - certainly works great in the choose models plot! I haven't used plotly much before - I'll have to get into it!

[2021-07-23 00:54] meztez commented on #52
With plotly I don't have to think about recomputing the plot when the user change the browser window dimension. It is an esthetics choice.

[2021-07-23 21:50] kdaust commented on #52
Thanks! Appreciate the feedback :)

[2021-07-23 21:50] #52 closed

[2021-09-22 02:48] cmahony opened #53 "change opaque map mouseover to transparent"
suggestion to change the mouseover on map polygons to fully transparent rather than fully opaque. If a user zooms in they can’t see what they are zooming into because the polygon is opaque. We used to have it fully transparent.

[2021-11-24 03:16] dewikiswani commented on #21
if I use the environment according to github, I can't run it, an error will appear, so I change the postgre setting to localhost and three environments for MAPBOX as directed above, so that a shiny pop up appears **but still can't display the map and simulate the process of features in the program.**

Here I attach the process of the changes I made. **this is the console view on Rstudio**:
`BCGOV_

[2021-11-24 03:36] meztez commented on #21
I believe this app database backend is currently under development. @kdaust ?.
There is a demo there with a mock server if you want to see the app https://neoxone.shinyapps.io/BCGOV_CCISS/.

As to the error you are seeing, I think maybe the environment variables were set within RStudio, since the Rmarkdown process is not able to use them to set mbhsstyle. Maybe use an .Renviron file within the app

[2021-11-24 04:18] dewikiswani commented on #21
so the reason I can't display maps is because the database is being built right?

I have saved the .Renviron file in the **app folder**, and it has also been read in the running program,
![image](https://user-images.githubusercontent.com/38982948/143173817-d2cbef5a-cc43-4c24-97c6-6fb98738b785.png)

but the object that cannot be found in the program is this **output$bec_map** (at map.R file) which

[2021-11-24 05:36] kdaust commented on #21
Hi! This repo has actually been replaced by a new version: https://github.com/FLNRO-Smithers-Research/CCISS_ShinyApp_v12, and that version (still in development) is live at https://thebeczone.ca/shiny/ccissdev/

Feel free to check out that repo! But you won't be able to run it locally without the .Renviron file with the database and tileserver passwords

[2022-01-24 21:05] repo-mountie[bot] opened #55 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 181 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie will

[2022-02-01 19:09] #55 closed

[2022-02-25 18:06] cmahony opened #56 "switch IPSL for CNRM in default model selection"
the default gcm ensemble excludes CNRM. It should be IPSL instead.

[2022-03-02 20:50] #56 closed

[2022-07-31 21:16] repo-mountie[bot] opened #57 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 369 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie will